<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>INDEX</title>
  </head>
  <body>
    <h1>INDEX</h1>
    <section>
      <h2>Form</h2>
      <form action="/download/outsourcing" method="post">
        <div>
          <label for="company_name">会社名:</label>
          <input
            type="text"
            id="company_name"
            name="company_name"
            value="株式会社サンプル"
          />
        </div>
        <div>
          <label for="company_address">会社住所:</label>
          <input
            type="text"
            id="company_address"
            name="company_address"
            value="東京都港区1-2-3"
          />
        </div>
        <div>
          <label for="representative_name">代表者名:</label>
          <input
            type="text"
            id="representative_name"
            name="representative_name"
            value="代表取締役 佐藤一郎"
          />
        </div>
        <div>
          <label for="client_name">クライアント名:</label>
          <input
            type="text"
            id="client_name"
            name="client_name"
            value="山田太郎"
          />
        </div>
        <div>
          <label for="client_address">クライアント住所:</label>
          <input
            type="text"
            id="client_address"
            name="client_address"
            value="大阪府大阪市中央区1-2-3"
          />
        </div>
        <div>
          <label for="service_description">業務内容:</label>
          <input
            type="text"
            id="service_description"
            name="service_description"
            value="Webサイト制作業務"
          />
        </div>
        <div>
          <label for="price">金額:</label>
          <input type="text" id="price" name="price" value="150000" />
        </div>
        <div>
          <label for="payment_method">支払方法:</label>
          <input
            type="text"
            id="payment_method"
            name="payment_method"
            value="銀行振込"
          />
        </div>
        <div>
          <label for="start_date">開始日:</label>
          <input
            type="text"
            id="start_date"
            name="start_date"
            value="2025年8月10日"
            placeholder="例: 2025年8月10日"
          />
        </div>
        <div>
          <label for="end_date">終了日:</label>
          <input
            type="text"
            id="end_date"
            name="end_date"
            value="2025年12月31日"
            placeholder="例: 2025年12月31日"
          />
        </div>
        <div>
          <label for="year">年:</label>
          <input type="text" id="year" name="year" value="7" />
        </div>
        <div>
          <label for="month">月:</label>
          <input type="text" id="month" name="month" value="8" />
        </div>
        <div>
          <label for="day">日:</label>
          <input type="text" id="day" name="day" value="2" />
        </div>
        <button type="submit">送信</button>
      </form>
    </section>

    <section>
      <h2>Links</h2>
      <ul>
        <li><a href="/hello">Hello World</a></li>
        <li>
          <form action="/dltest" method="post">
            <input name="name" value="Test" />
            <button type="submit">Download Test File</button>
          </form>
        </li>
        <li>
          <a href="/template-download/outsourcing"> Download Template </a>
        </li>
      </ul>
    </section>
  </body>
</html>
